.CategoryCardLink {
    text-decoration: none;
    max-width: 100px;
    display: block;
    transition: 0.3s;
}

.CategoryCardLink:hover {
    scale: 110%;
    filter: brightness(80%);
}

.CategoryCardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100px;
    background-color: #D8F8DF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.33);
}

.CategoryCardImg {
    border: 1px solid #D90853;
}

.CategoryCardTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 30px;
    border-width: 0px 1px 1px 1px;
    border-style: none solid solid solid;
    border-color: transparent #D90853 #D90853 #D90853;
    color: #3C3C3C;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 600;
    background-color: white;
}


.cardsContainerBox {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.cardsContainerTitle {
    color: #D90853;
}

.cardsContainer {
    background-color: white;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.33);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    margin: 20px auto;
}