<!DOCTYPE html>
<html>
    <body>
        <h1>Bonjour {{ email }},</h1>
        <p>
            Vous êtes bien abonné a notre newsletter !
        </p>
        <p>
            Merci pour votre fidélité !
        </p>
    </body>
</html>