<!DOCTYPE html>
<html>
    <body>
        <h1>Bonjour {{ first }} {{ last }},</h1>
        <p>
            Vous avez laissé le message suivant :<br/>
            {{ message }}
        </p>
        <p>
            Nous vous recontacterons au numéro suivant : {{ phone }}.
        </p>
    </body>
</html>
