.promoBanner {
    background-color: #D90853;
    width: 90%;
    margin: auto;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.33);
    position: relative;

    animation: borderAnimation 1s infinite alternate;
  }

  @keyframes borderAnimation {
    from {
        border: 4px double #D90853;
    }
    to {
        border: 4px double white;
    }
  }

  
  .bannerContent {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .promoTitle {
    font-family: sans-serif;
    font-weight: 800;
    font-size: 24px;
    margin: 10px;
    color: white;
  }
  
  .promoText {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin: 10px;
    color: white;
  }
  
  .promoText > strong {
    font-weight: 800;
    font-size: 18px;
  }

  .copiedPopup {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.33);
    color: #D90853;
    border: 1px solid #D90853;
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
  }